.hamburger {
  background-image: url("../img/nav-hamburger.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 21px;
}

.close-burger {
  background-image: url("../img/nav-hamburger-close.png");
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #98A4AF;
  //padding: 10px 10% 0 10%;
  font-size: 1.6rem;

  z-index: 1;

  .top-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 10%;
    color: #F9FAFA;
    width: 100%;
    max-width: 1024px;
    z-index: 10;
  }

  .nav-links {
    position: relative;
    .nav-container {
      position: relative;
      img {
        width: 100%;
      }
      h1 {
        position: absolute;
        bottom: 20%;
        left: 10%;
        color: #F9FAFA;
        font-size: 5vw;
        font-family: Roboto, Arial, sans-serif;
        font-weight: bold;
        z-index: 1;
        @media @phone {
          font-size: 8vw;
          line-height: 1.4;
          letter-spacing: 1.2px;
        }
      }
      .hide-nav {
        position: absolute;
        display: none;
        height: 100%;
        width: 100%;
      }

      .show-nav {
        z-index: 50;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(152, 164, 175, .9);

      }
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: #222222;
        }
      }
    }
  }
}